


<div class="span9">
    <div class="hero-unit">
     <h1>Incoming</h1>
</div>


<div class="span9">
<ul class="thumbnails">
 <li class="span6"><h4>You've been invited to Product Manager by <img alt="Rails" src="/assets/google.jpg" height="80" width="60" /></h4>
    </li>
 <li class="span3">
   <a class="btn btn-success ">Accept</a>
  </li>
</ul>
</div>



<div class="span9"><hr />
<ul class="thumbnails">
 <li class="span6"><h4>You've been invited to Product Manager by <img alt="Rails" src="/assets/google.jpg" height="80" width="60" /></h4>
    </li>
 <li class="span3">
   <a class="btn btn-success ">Accept</a>
  </li>

</ul>

</div>

<div class="span9"><hr />
<ul class="thumbnails">
 <li class="span6"><h4>You've been invited to Product Manager by <img alt="Rails" src="/assets/google.jpg" height="80" width="60" /></h4>
    </li>
 <li class="span3">
   <a class="btn btn-success ">Accept</a>
  </li>

</ul>
</div>

<div class="span9"><hr />
<ul class="thumbnails">
 <li class="span6"><h4>You've been invited to Product Manager by <img alt="Rails" src="/assets/google.jpg" height="80" width="60" /></h4>
    </li>
 <li class="span3">
   <a class="btn btn-success ">Accept</a>
  </li>

</ul>
</div>
<div class="span9"><hr />
<ul class="thumbnails">
 <li class="span6"><h4>You've been invited to Product Manager by <img alt="Rails" src="/assets/google.jpg" height="80" width="60" /></h4>
    </li>
 <li class="span3">
   <a class="btn btn-success ">Accept</a>
  </li>

</ul>
</div>



  
