@import "bootstrap";
@import 'font-awesome';
@import url(http://fonts.googleapis.com/css?family=Lato:300);
@import url(http://fonts.googleapis.com/css?family=Advent+Pro:400,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Quicksand);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200);
@import url(http://fonts.googleapis.com/css?family=Cantata+One);
@import url(http://fonts.googleapis.com/css?family=Muli);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:600);
@import url(http://fonts.googleapis.com/css?family=Merriweather);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);


.container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 1000px;
}

.navbar .nav > li.hova > a {
  float: none;
  padding: 14px 14px 14px 24px;
  line-height: 19px;
  color: #555555;
  text-shadow: none; 
  
font-weight:bolder;
  text-decoration: none;
  margin-right:11px;
color:#888888;
font-size:13px;
}



.navbar .nav > li.hova:hover > a {
  color: #000;
  padding: 14px 14px 14px 24px;
  font-family: arial,helvetica,clean,sans-serif;
  font-weight:bolder;
  margin-right:11px;
  line-height: 19px;
  text-shadow: none;
  text-decoration: none;
}

.navbar .nav > li.em > a {
  float: none;
  padding: 14px 14px 14px 24px;
  line-height: 19px;
  color: #555555;
  font-weight:bolder;
  text-shadow: none; 
  font-family: arial,helvetica,clean,sans-serif;
  text-decoration: none;
  margin-right:11px;
  font-size:13px;
}



.navbar .nav > li.em:hover > a {
  color: #000;
  padding: 14px 14px 14px 24px;
  font-family: arial,helvetica,clean,sans-serif;
  margin-right:11px;
  line-height: 19px;
  text-shadow: none;
  text-decoration: none;
}






.navbar .nav > li.nas > a {
  float: none;
  padding: 14px 7px 14px 16px;
  line-height: 19px;
  color: #68B3FF;
  text-shadow: none; 
  font-weight:normal;
  
  font-size:13px;
  text-decoration: none;
  margin-right:11px;
}



.navbar .nav > li.nas:hover > a {
  color: #68B3FF;
  padding: 14px 7px 14px 16px;
  font-family: 'Open Sans', sans-serif;
  margin-right:11px;
  line-height: 19px;
  text-shadow: none;
  text-decoration: none;
}

.navbar .nav > li.dropdown > a {
  color: #000;
  padding: 13px 20px 12px;
  font-family: 'Open Sans', sans-serif;
  line-height: 19px;
  text-shadow: none;
  text-decoration: none;
}


.navbar .nav > li.dropdown:hover > a {
  color: #000;
  padding: 13px 20px 12px;
  font-family: 'Open Sans', sans-serif;
  line-height: 19px;
  text-shadow: none;
  text-decoration: none;
}



.navbar .nav > li.nas {
border-left:1px solid #F8F8F8;
border-right:1px solid #F8F8F8;
  background: #fff; /* Old browsers */
  height:47px;
}

.navbar .nav > li.nas:hover {
  background:#fff ; /* Old browsers */
  height:47px;
}


.navbar .nav > li.hova {
  background: #F8F8F8; /* Old browsers */
    margin-right:2px;
  height:47px;
}

.navbar .nav > li.hova:hover {
  background: #EAEBEB; /* Old browsers */
    
  height:47px;
}


.navbar .nav > li.em:hover {
  background: #F8F8F8; /* Old browsers */
    
  height:47px;
}





.navbar .nav > li > a:active {
  float: none;
  padding: 9px 10px 11px;
  line-height: 19px;
  color: #000;
  font-weight:685;
  text-decoration: none;

 
}



.navbar-inner {
  width:1158px;
  margin-left:auto;
  margin-right:auto;
  min-height: 47px;
  background: #fff;
   
 
 -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	        box-shadow:  0 1px 4px rgba(0, 0, 0, 0.2);

}


.navbar .container {
  width: 1158px;  
 }



.nav > .pull-right {
  float: left;
  

}


#wreck {

float:left;
margin-left:288px;

}

#top {

float:left;
margin-left:343px;

}

#drake {

float:left;
margin-left:0px;

}




.navbar .nav li.dropdown .dropdown-toggle .caret,
.navbar .nav li.dropdown.open .caret {
  border-top-color: #000;
  border-bottom-color: #000;
}

.tab-pane {

overflow:hidden;
height:415px;
width:1000px;

}

.tab-content > #home {

margin-top:6px;
margin-bottom:6px;
margin-left:-2px;
height:417px;
width:1200px;
}

.tab-content > #topple {

margin-top:0px;
margin-bottom:0px;
margin-left:0px;
height:22px;
width:22px;
}


#belowabout {
float:left;
margin-top:2px;
width:1055px;
height:133px;
background:#fff;


}

#bottomcontainer {
margin-top:-10px;
width:1100px;
height:500px;
background:none;

}

.roundinfo {
    margin-top:0px;
    float:left;
    margin-left:48px;
    background: rgb(179,220,237); /* Old browsers */
background: -moz-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(179,220,237,1)), color-stop(50%,rgba(41,184,229,1)), color-stop(100%,rgba(188,224,238,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */
-moz-box-shadow:    inset 0 0 10px #a5a8ab;
   -webkit-box-shadow: inset 0 0 10px #a5a8ab;
   box-shadow:         inset 0 0 10px ;

-moz-box-shadow: 0 0 1px 1px #babbbe;
-webkit-box-shadow: 0 0 1px 1px #babbbe;
box-shadow: 0 0 1px 1px #babbbe;
    height:12px;
    width:12px;
    border-radius:6px;

}


#showme {

color:#fff;
font-size:12px;
margin-left:3px;
}


.tagline {

text-shadow: none; 
font-size:15px;
margin-left:12px;
margin-top:2px;
margin-bottom:0px;
font-weight:bolder;
list-style-type: none;
}


.userwhy {
width:1058px;
height:100px;
text-indent:0px;
font-weight:bold;
text-align: left;
float:left;
font-weight:normal;
line-height:145%;
margin-left:14px;
padding-right:2px;
margin-top:8px;
font-weight: normal;
font-size:13px;
color:#555555;

}

#home_else {
float:left;
margin-top:0px;
width:1058px;
height:100px;
background-image: #fff;

}


.tab-content > #tab2 {
width:1050px;
height:413px;
margin-top:9px;
background:#f1f5fd;
margin-bottom:13px;
margin-left:1px;
background-color:#fff;

 
 -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	        box-shadow:  0 1px 3px rgba(0, 0, 0, 0.2);

}

#tab2_else {

float:left;
margin-top:4px;
width:1038px;
height:100px;
background-image: url(/assets/bg.jpg);
}


#undergradshow {
margin-top:0px;
margin-left:22px;
width:1050px;
height:411px;
background:#fff;
}


h2.redtitle {
margin-top:12px;
padding-bottom:7px;
color:#40B2DC;
font-size:17px;
font-weight:bold;
margin-left:25px;
float:left;
clear:both;
font: arial,helvetica,sans-serif;

}

h2.redcontent {
margin-top:22px;
padding-bottom:7px;
color:#40B2DC;
font-size:17px;
font-weight:normal;
margin-left:17px;
float:left;
clear:both;
font: arial,helvetica,sans-serif;

}


.educationlogo {

float:right;
margin-top:12px;
margin-right:18px;

}

.leftlogo {

float:left;
margin-top:38px;
margin-left:10px;

}

.rightlogo {

float:right;
margin-top:20px;
margin-right:10px;

}


.redtitle {
margin-top:19px;
padding-bottom:7px;
color:#DD4B39;
font-size:17px;
font-weight:bold;
margin-left:19px;
float:left;
font: arial,helvetica,sans-serif;
}

.redcontent{
margin-top:19px;
padding-bottom:7px;
color:#DD4B39;
font-size:17px;
font-weight:nor;
margin-left:19px;
float:left;
font: arial,helvetica,sans-serif;
}


.redtitletwo {
margin-top:46px;
padding-bottom:7px;
color:#DD4B39;
font-size:17px;
font-weight:bold;
margin-left:44px;
float:left;
font: arial,helvetica,sans-serif;

}



.edutitle {
margin-top:24px;
margin-bottom:0px;
color: #000;
font-size:15px;
font-weight:444;
margin-left:22px;
float:left;
font-weight:bold;
clear:both;
font-family: 'Open Sans', sans-serif;
}

h3.worktitle {
margin-top:24px;
margin-bottom:7px;
color:#000;
font-size:15px;
font-weight:444;
margin-left:44px;
float:left;
font-weight:normal;
clear:both;
font-family: 'Open Sans', sans-serif;
}

h3.worktitle2 {
margin-top:0px;
margin-bottom:0px;
color:#000;
font-size:15px;
font-weight:444;
margin-left:44px;
float:left;
font-weight:normal;
clear:both;
font-family: 'Open Sans', sans-serif;
}

.utitle {

margin-bottom:0px;
color:#babcbe;
font-size:1.48em;
font-weight:bold;
margin-left:22px;
float:left;
clear:both;
font: arial,helvetica,sans-serif;
}

.blacktitle {
margin-top:11px;
margin-bottom:-4px;
color:#babcbe;
line-height:133%;
font-size:15px;
font-weight:normal;
margin-left:22px;
float:left;
clear:both;
text-align:left;
font: arial,helvetica,sans-serif;
}

.greytitle {
margin-top:24px;
padding-bottom:0px;
color:#7d8184;
font-size:15px;
letter-spacing:0px;
font-weight:bold;
margin-left:22px;
float:left;

font: arial,helvetica,sans-serif;
}

.edutitle2 {
margin-top:8px;
margin-bottom:-4px;
color: #6E7B8B;
font-size:15px;
font-weight:normal;
margin-left:22px;
float:left;
text-align:left;
clear:both;
font-family: 'Open Sans', sans-serif;
}

#spraybox {

margin-top:11px;
width:377px;
height:300px;
}

#spraynest {
width:388px;
height:144px;
margin-top:44px;
background:#fff;
border-right:solid 1px #E8E8E8;
}

#broad {

padding-left:30px;
padding-right:30px;

}

#watchbroad {
padding-top:6px;
padding-bottom:6px;
padding-left:22px;
padding-right:22px;
font-weight:bold;

}

.sprayit {
margin-top:8px;
padding-bottom:3px;
color:#babcbe;
font-size:15px;
font-weight:normal;
margin-left:44px;
float:left;
text-align:left;
clear:both;
font: arial,helvetica,sans-serif;
}
.blacktitle2 {
margin-top:11px;
padding-bottom:0px;
color: #6E7B8B;
font-size:15px;
font-weight:normal;
margin-left:22px;
float:left;
clear:both;
font: arial,helvetica,sans-serif;
}



#school3 {
float:left;
width:444px;
height:200px;
background-color:#fff;
}

li.port1 {
clear:both;
float:left;
margin-right:-7px;
padding:22px 0px 2px 19px;
float:left;

}

li.port2 {
float:left;
padding:22px 1px 2px 0px;
float:left;
margin-right:-7px;
}

.port3 {
float:left;
padding:22px 1px 2px 0px;
float:left;

}




#schoolspace {
margin-left:44px;
margin-top:35px;
float:left;
width:333px;
height:400px;
background:#fff;

}

#school1 {
margin-top:11px;
margin-left:0px;
float:left;
clear:both;
width:333px;
height:100px;
margin-right:32px;
background-color:#fff;

}

#school2 {
margin-left:0px;
margin-top:7px;
margin-right:0px;
float:left;
clear:both;
width:200px;
height:77px;
background-color:#fff;

}


#school4 {
float:left;
margin-top:11px;
margin-left:0px;
width:355px;
height:100px;
background-color:#fff;


}


#schoolnest {
padding-bottom:44px;
width:333px;
height:70px;
background:#fff;
border-right:solid 1px #E8E8E8;
}

#othernest {
padding-bottom:44px;
width:333px;
height:70px;
background:#fff;

}


#otherspace {
margin-left:44px;
margin-top:35px;
float:left;
width:333px;
height:400px;
background:#fff;

}




#school5 {
margin-left:22px;
margin-top:11px;
float:left;
width:366px;
height:100px;
text-align:left;
background-color:#fff;

}

#school6{
margin-left:22px;
margin-top:33px;
float:left;
width:366px;
height:100px;
text-align:left;
background-color:#fff;

}




#school25 {
margin-top:22px;
margin-right:0px;
float:left;
clear:both;
width:244px;
height:100px;
float:left;
background-color:#fff;

}

#school3 {
margin-left:14px;
float:left;
clear:both;
width:300px;
height:200px;
background-color:#fff;
}

#globey {
color:blue;
margin-left:33px;
margin-top:100px;
}
.abroadtitle {
margin-top:11px;
margin-bottom:-4px;
padding-bottom:0px;
color:#babcbe;
font-size:15px;
line-height:133%;
font-weight:normal;
margin-left:0px;
float:left;
clear:both;
text-align:left;
font: arial,helvetica,sans-serif;
}

.othertitle {
margin-top:24px;
padding-bottom:0px;
color:#7d8184;
font-size:15px;
font-weight:bold;
margin-left:0px;
float:left;
clear:both;
font-family: 'Georgia', sans-serif;
}

#back1 {
margin-top:7px;
margin-left:31px;
margin-bottom:-3px;
width:983px;
height:63px;
background: #fff;


}





#tab7_else {

float:left;
margin-top:4px;
width:1038px;
height:100px;
background-image: url(/assets/bg.jpg);
}


#tab3_else {

float:left;
margin-top:4px;
width:1038px;
height:100px;
background-image: url(/assets/bg.jpg);
}

#tab4_else {

float:left;
margin-top:4px;
width:1038px;
height:100px;
background-image: url(/assets/bg.jpg);
}

#tab9_else {

float:left;
margin-top:4px;
width:1038px;
height:100px;
background-image: url(/assets/bg.jpg);
}

#tab5_else {

float:left;
margin-top:4px;
width:1038px;
height:100px;
background-image: url(/assets/bg.jpg);
}

.testerli {

list-style-type: none;
padding:100px;

}


#undergradwhy{
width:1000px;
margin-left:20px;
height:163px;
 background: -moz-radial-gradient(center, ellipse cover, #a8a8a8 0%, #7F00FF 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a8a8a8), color-stop(100%,#2300b2)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #00BFFF  10%, #0BB5FF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* IE10+ */
    background: radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#2300b2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 
margin-top:250px;
 /* Rounded Corners */ 
    -moz-border-radius-topleft: 0px; 
    -moz-border-radius-bottomleft: 0px; 
    -webkit-border-top-left-radius: 0px; 
    -webkit-border-bottom-left-radius: 0px; 
    border-top-left-radius: 0px; 
    border-bottom-left-radius: 0px; 
    -moz-border-radius-topright: 0px; 
    -moz-border-radius-bottomright: 0px; 
    -webkit-border-top-right-radius: 0px; 
    -webkit-border-bottom-right-radius: 0px; 
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 0px; 

}




#othershow {

margin-top:0px;
margin-left:19px;
width:1000px;
height:250px;
background:#fff;


}

#otherwhy {

width:1000px;
margin-left:20px;
height:163px;
  background: -moz-radial-gradient(center, ellipse cover, #a8a8a8 0%, #7F00FF 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a8a8a8), color-stop(100%,#2300b2)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #00BFFF  10%, #0BB5FF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* IE10+ */
    background: radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#2300b2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
margin-top:250px;


}

.tab-content > #tab3 {
width:1050px;
height:413px;
margin-top:12px;
background:#fff;
margin-bottom:13px;
margin-left:1px;

 -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	        box-shadow:  0 1px 3px rgba(0, 0, 0, 0.2);
}



#recentshow {
margin-top:0px;
margin-left:22px;
width:1100px;
height:400px;
background: #fff;

}

li.workthumb {
float:left;
margin-right:-12px;
}

li.mainthumb {
margin-left:12px;
margin-top:7px;
float:left;
clear:both;
list-style-type: none;
}

li.mainthumb2 {
margin-left:7px;
margin-top:7px;
float:left;
list-style-type: none;
}

li.mainthumb3 {
margin-left:7px;
margin-top:7px;
float:left;
list-style-type: none;
}

li.workthumb {
float:left;
clear:both;

}

li.workthumb2 {
float:left;
margin-top:-12px;
}

li.workthumb3 {
float:left;
margin-right:-12px;
margin-top:-12px;
}

li.skthumb {
float:left;
margin-right:-12px;
margin-top:12px;
}

#workspace {
margin-left:144px;
margin-top:18px;
width:400px;
height:300px;
float:left;
background: #fff;
}

#workspacetwo {
margin-left:44px;
margin-top:111px;
width:477px;
height:250px;
float:left;
background: #fff;
}

li.workthumb {

float:left;


}

li.workthumb2 {

float:left;
margin-top:0px;
}



#recentwhy {
width:960px;
margin-left:20px;
height:163px;
  background: -moz-radial-gradient(center, ellipse cover, #a8a8a8 0%, #7F00FF 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a8a8a8), color-stop(100%,#2300b2)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #00BFFF  10%, #0BB5FF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* IE10+ */
    background: radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#2300b2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
margin-top:250px;


}


#pastshow {

margin-top:0px;
width:1050px;
height:250px;
background: #fff;


}

#pastwhy {

width:960px;
margin-left:0px;
height:163px;
  background: -moz-radial-gradient(center, ellipse cover, #a8a8a8 0%, #7F00FF 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a8a8a8), color-stop(100%,#2300b2)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #00BFFF  10%, #0BB5FF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* IE10+ */
    background: radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#2300b2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
margin-top:250px;


}


.tab-content > #tab4 {
width:1050px;
height:413px;
margin-top:12px;
background:#fff;
margin-bottom:13px;
margin-left:1px;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	        box-shadow:  0 1px 3px rgba(0, 0, 0, 0.2);
}


#skillshow {


margin-top:44px;
margin-left:22px;
width:1100px;
height:400px;
background: #fff;

}


#skillwhy {


width:960px;
margin-left:0px;
height:163px;
  background: -moz-radial-gradient(center, ellipse cover, #a8a8a8 0%, #7F00FF 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a8a8a8), color-stop(100%,#2300b2)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #00BFFF  10%, #0BB5FF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* IE10+ */
    background: radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#2300b2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
margin-top:0px;

}




.tab-content > #tab5 {
width:1050px;
height:413px;
margin-top:12px;
margin-bottom:13px;
background:#fff;
margin-left:1px;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	        box-shadow:  0 1px 3px rgba(0, 0, 0, 0.2);
}

#videoshow {


margin-top:0px;
width:960px;
height:395px;
background:#fff;


}






a {
color: #6600FF;
}

a:hover {
color:#000;

}

a.ranked {

color:#6600FF;
}

a.ranked:hover {
color:#6600FF;

}


.caret {

border-top-color: #000;
  border-bottom-color: #000;
  opacity: 0.75;
  filter: alpha(opacity=75);

}

.btn-primary .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret,
.btn-inverse .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
  opacity: 0.75;
  filter: alpha(opacity=75);
}


p.help-block {
margin-top: 9px;
margin-bottom: 0;
color: #808080;
}


#menuout  li:hover {

background:#fff;
}


a.active {

color:#000;
}


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

/* Background from Spiffapp  */

body {
  padding-top:55px;
  margin-left:-95px;
  background-image: url(/assets/bg.jpg) ;
  

  }

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 5px;
    
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  letter-spacing: -1px;
  margin-bottom: 15px;
  text-align: left;
  }

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  
  text-align: center;
  font-weight: normal;
  
  float:left;
  }



h4{

padding:2px 2px;

}

.logo{ 

margin: 13px 8px 13px 55px; 

}





.dropdown{ margin: 0 5px 0 0; }





h1.aboutuser {
padding-left:8px;
padding-top:8px;
font-size: 19px;

color:#000;

}


.aboutuserp {
line-height:200%;
padding-left:8px;
padding-top:4px;


}

h3 {

font-size:22px;
color: $grayLight;
font-weight: bold;
margin-top:0px;
margin-bottom:0px;
padding-top:0px;
padding-bottom:0px;
}

.des {

font-size:22px;
color: #000;
font-weight: normal;
margin-top:0px;
margin-bottom:5px;
padding-top:0px;
padding-bottom:6px;
}

.undergraduate {

float:center;
font-size:22px;
color: $grayLight;
font-weight: bold;
margin-top:0px;
margin-bottom:25px;
padding-top:0px;
padding-bottom:0px;


}


/* Profile Tab1 --User Content-- */



#dotvid {
margin-top:15px;
margin-left:15px;

}




/* Nav Pills */

#toptabs{
width:444px;
margin-top:22px;
margin-left:488px;
background:#fff;

}

.nav-pills > li > a {
  padding-right: 13px;
  padding-left: 13px;
  line-height: 11px;
}



/* Profile Tab1 --User Content- Right Section-- */



#topnav {
margin-left:1px;
margin-top:-13px;
margin-bottom:35px;
height:74px;
width:1060px;
background-image: url(/assets/bg.jpg) ;

}

#userphoto {

margin-left:-2px;
float:left;

}



.learn  {

padding-left:0px;

}


#rightabout {
float:left;
margin-left:8px;
margin-right:1px;
margin-top:1px;
background: none;
height:411px;
width:340px;
background-color:#fff;


-moz-border-radius-topleft: 0px; 
    -moz-border-radius-bottomleft: 0px; 
    -webkit-border-top-left-radius: 0px; 
    -webkit-border-bottom-left-radius: 0px; 
    border-top-left-radius: 0px; 
    border-bottom-left-radius: 0px; 
    -moz-border-radius-topright: 0px; 
    -moz-border-radius-bottomright: 0px; 
    -webkit-border-top-right-radius: 0px; 
    -webkit-border-bottom-right-radius: 0px; 
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 0px;


 
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	        box-shadow:  0 1px 3px rgba(0, 0, 0, 0.2);
}

#cotchbox {

background-image: url(/assets/bg.jpg);
height:11px;
width:292px;
float:left;


}





#topbar {
background:#fff;
height:55px;
width:333px;
float:left;
margin-top:1px;
margin-left:11px;
margin-bottom:2px;


-moz-border-radius-topleft: 0px; 
    -moz-border-radius-bottomleft: 0px; 
    -webkit-border-top-left-radius: 0px; 
    -webkit-border-bottom-left-radius: 0px; 
    border-top-left-radius: 0px; 
    border-bottom-left-radius: 0px; 
    -moz-border-radius-topright: 0px; 
    -moz-border-radius-bottomright: 0px; 
    -webkit-border-top-right-radius: 0px; 
    -webkit-border-bottom-right-radius: 0px; 
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 0px; 



}


#rightbarchange {
margin-left:1px;
margin-top:-58px;
float:left;
width:50px;
background: #f8f8f8;
height:415px;
border-top:1px solid rgba(0, 0, 0, 0.1);
    

/* Rounded Corners */ 
    -moz-border-radius-topleft: 0px; 
    -moz-border-radius-bottomleft: 0px; 
    -webkit-border-top-left-radius: 0px; 
    -webkit-border-bottom-left-radius: 0px; 
    border-top-left-radius: 0px; 
    border-bottom-left-radius: 0px; 
    -moz-border-radius-topright:3px; 
    -moz-border-radius-bottomright: 3px; 
    -webkit-border-top-right-radius: 3px; 
    -webkit-border-bottom-right-radius: 3px; 
    border-top-right-radius: 3px; 
    border-bottom-right-radius: 3px;  
}


#studiedbox {

width:336px;
height:35px;

margin-top:0px;
margin-left:1px;
background:#fff;

}


#workedbox {
margin-top:44px;
width:336px;
height:35px;
margin-left:1px;
background:#fff;

}

#skillbox {
margin-top:44px;
width:338px;
height:35px;
margin-left:2px;
background:#fff;
margin-bottom:0px;
}

#thumbbox {
margin-top:29px;
width:338px;
height:35px;
margin-left:2px;
background:#fff;
float:left;

}

#worked2 {


width:288px;
height:40px;
background:black;

}



#specialtybox {


width:238px;
height:168px;
background: #a8a8a8; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #a5c0cd 4%,   #6996AD 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(4%,#a5c0cd), color-stop(100%,  #6996AD)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #a5c0cd 4%,  #6996AD 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #a5c0cd 4%,  #6996AD 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #a5c0cd 4%,  #6996AD 100%); /* IE10+ */
    background: radial-gradient(center, ellipse cover, #a5c0cd 4%,  #6996AD 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5c0cd', endColorstr='#6996AD',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}


#specializesin {

letter-spacing:0px;
margin-top:6px;
padding-bottom:1px;
color:#54788a;
font-size: 15px;
margin-left:6px;
font-family: 'Open Sans', sans-serif;
text-align: center;
float:left;
font-weight:normal;
}

.space {

width:2px;
}


#specialtyblack {

width:71px;
height:33px;
background: #a8a8a8; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #fff 0%,   #FCFCFC 75%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fff), color-stop(75%,  #FCFCFC)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #fff 0%,  #FCFCFC 75%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #fff 0%,  #FCFCFC 75%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #fff 0%,  #FCFCFC 75%); /* IE10+ */
    background: radial-gradient(center, ellipse cover, #fff 0%,  #FCFCFC 75%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr=' #FCFCFC',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
margin-left:0px;

/* Rounded Corners */ 
    -moz-border-radius-topleft: 0px; 
    -moz-border-radius-bottomleft: 1px; 
    -webkit-border-top-left-radius: 0px; 
    -webkit-border-bottom-left-radius: 1px; 
    border-top-left-radius: 0px; 
    border-bottom-left-radius: 1px; 
    -moz-border-radius-topright: 0px; 
    -moz-border-radius-bottomright: 1px; 
    -webkit-border-top-right-radius: 0px; 
    -webkit-border-bottom-right-radius: 1px; 
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 1px; 
}

#locationblack {

width:76px;
height:33px;
background: #a8a8a8; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #fff 0%,   #FCFCFC 75%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fff), color-stop(75%,  #FCFCFC)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #fff 0%,  #FCFCFC 75%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #fff 0%,  #FCFCFC 75%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #fff 0%,  #FCFCFC 75%); /* IE10+ */
    background: radial-gradient(center, ellipse cover, #fff 0%,  #FCFCFC 75%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr=' #FCFCFC',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
margin-left:0px;
/* Rounded Corners */ 
    -moz-border-radius-topleft: 0px; 
    -moz-border-radius-bottomleft: 1px; 
    -webkit-border-top-left-radius: 0px; 
    -webkit-border-bottom-left-radius: 1px; 
    border-top-left-radius: 0px; 
    border-bottom-left-radius: 1px; 
    -moz-border-radius-topright: 0px; 
    -moz-border-radius-bottomright: 1px; 
    -webkit-border-top-right-radius: 0px; 
    -webkit-border-bottom-right-radius: 1px; 
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 1px; 

}


#educationblack {

width:81px;
height:33px;
background: #a8a8a8; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #fff 0%,   #FCFCFC 75%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fff), color-stop(75%,  #FCFCFC)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #fff 0%,  #FCFCFC 75%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #fff 0%,  #FCFCFC 75%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #fff 0%,  #FCFCFC 75%); /* IE10+ */
    background: radial-gradient(center, ellipse cover, #fff 0%,  #FCFCFC 75%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr=' #FCFCFC',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
margin-left:0px;
/* Rounded Corners */ 
    -moz-border-radius-topleft: 0px; 
    -moz-border-radius-bottomleft: 1px; 
    -webkit-border-top-left-radius: 0px; 
    -webkit-border-bottom-left-radius: 1px; 
    border-top-left-radius: 0px; 
    border-bottom-left-radius: 1px; 
    -moz-border-radius-topright: 0px; 
    -moz-border-radius-bottomright: 1px; 
    -webkit-border-top-right-radius: 0px; 
    -webkit-border-bottom-right-radius: 1px; 
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 1px; 

}

#experienceblack {

width:91px;
height:33px;
background-color: #fff;
margin-left:0px;
/* Rounded Corners */ 
    -moz-border-radius-topleft: 0px; 
    -moz-border-radius-bottomleft: 1px; 
    -webkit-border-top-left-radius: 0px; 
    -webkit-border-bottom-left-radius: 1px; 
    border-top-left-radius: 0px; 
    border-bottom-left-radius: 1px; 
    -moz-border-radius-topright: 0px; 
    -moz-border-radius-bottomright: 1px; 
    -webkit-border-top-right-radius: 0px; 
    -webkit-border-bottom-right-radius: 1px; 
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 1px; 

}




.specialtyname {
margin-top:0px;
font-family: 'Open Sans', sans-serif;
font-weight: normal;
color:#FF3329;
margin-left:12px;
font-size:13px;
float:left;
letter-spacing:0.070em;
margin-bottom:8px;

}



#specialty {
font-family: 'Open Sans', sans-serif;
font-weight:normal;
padding-top:4px;
margin-bottom:19px;
margin-left:15px;
font-size: 19px;
letter-spacing: -1px;
text-align: center;
float:left;
color: #999999  ;

}


.icon-star, .icon-home, .icon-pencil, .icon-lock {
} 


#contextbox {
margin-top:16px;
width:336px;
margin-left:1px;
height:35px;
margin-bottom:44px;
background: #fff ;

}


#livesin {

letter-spacing:0px;
margin-top:25px;
padding-bottom:8px;
color:#BEBEBE;
font-size: 16px;
margin-left:-3px;
font-family: 'Open Sans', sans-serif;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
text-align: center;
float:left;
font-weight:bold;

}

#beforelives{
letter-spacing:0px;
font-style: normal;
font-family: 'PT Sans', sans-serif;
font-size:15px;
font-weight:normal;
color:#333333;
text-shadow: 0 10px 0 rgba(255, 255, 255, 0.5);
float:left;
margin-top:32px;
margin-left:8px;
margin-right:10px;
margin-bottom:5px;
opacity:10;
clear:both;



}

#locationname {
letter-spacing:0px;
font-family: 'Open Sans', sans-serif;
font-weight: lighter;
font-size:13px;
margin-left:13px;
float:left;
margin-top:0px;
color:#9C9C9C;
margin-bottom:0px;
clear:both;

}



#location {
font-family: 'Open Sans', sans-serif;
font-weight:normal;
padding-top:4px;
margin-bottom:41px;
margin-left:15px;
font-size: 17px;
letter-spacing: -1px;
text-align: center;
float:left;
color: #999999 ;

}




#contentname  {
font-family: 'Open Sans', sans-serif;
padding-top:10px;
padding-bottom:	0px;
font-size: 16px;
margin-left:-10px;
letter-spacing: -1px;
text-align: center;
float:left;
font-weight:normal;
color: #848484;

}

.go {
margin-left:30px;

}

#photosfront {

padding-top:5px;
padding-bottom:0px;

}



#photo1 {
padding-bottom:0px;
margin-left:12px;
}

#photo2 {
padding-bottom:0px;
margin-left:3px;
}

#photo3 {
padding-bottom:0px;
margin-left:3px;
}


#studied {

letter-spacing:0px;
margin-top:5px;
padding-bottom:0px;
color:#BEBEBE;
font-size: 15px;
margin-left:11px;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
font-family: 'Open Sans', sans-serif;
text-align: center;
float:left;
font-weight:bold;
}


#beforestudies {

letter-spacing:0px;
font-family: 'PT Sans', sans-serif;
font-size:15px;
font-weight:normal;
font-style: normal;
color:#333333;
margin-left:8px;
text-shadow: 0 10px 0 rgba(255, 255, 255, 0.5);
float:left;
margin-top:1px;
margin-right:7px;
margin-bottom:4px;
opacity:10;
clear:both;

}

#beforestudies2 {

letter-spacing:0px;
margin-left:64px;
font: normal 15px 'PT Sans', sans-serif;
color:#999999;
text-shadow: 0 10px 0 rgba(255, 255, 255, 0.5);
float:left;
margin-top:-2px;
margin-right:5px;
margin-bottom:7px;
opacity:10;
clear:both;

}



.from {

letter-spacing:0px;
margin-top:17px;
padding-bottom:1px;
color:#818486;
font-size: 14px;
margin-left:10px;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
font-family: 'Open Sans', sans-serif;
text-align: center;
float:left;
font-weight:normal;
}

.at {

text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
letter-spacing:0px;
margin-top:-17px;
padding-bottom:1px;
color:#818486;
font-size: 14px;
margin-left:300px;
font-family: 'Open Sans', sans-serif;
text-align: center;
float:left;
font-weight:normal;
}


.studiedsubject {
letter-spacing:0px;
margin-top:0px;
margin-bottom:8px;
font-family: 'Open Sans', sans-serif;
font-weight: lighter;
font-size:13px;
color:#FFA81F;
margin-left:12px;
float:left;
opacity:10;
 }


.studiedsubject2 {
letter-spacing:0px;
margin-top:0px;
font-family: 'Open Sans', sans-serif;
font-weight: lighter;
color:#9C9C9C;
font-size:13px;
margin-left:13px;
float:left;
opacity:10;
 }


.studiedsubject3 {
letter-spacing:0px;
margin-top:-2px;
padding-bottom:4px;
font: normal 15px 'PT Sans', sans-serif;
color:#999999;
text-shadow: 0 10px 0 rgba(255, 255, 255, 0.5);
margin-left:24px;
float:left;
opacity:10;

}
#slash1 {
padding-top:58px;
margin-left:244px;
font-family: 'Open Sans', sans-serif;
font-weight:400;
color:#555555;

}

#studiedplace {

margin-left:15px;
padding-bottom:41px;
font-size: 17px;
letter-spacing: 0px;
text-align: center;
font-weight:normal;
float:left;
font: normal 20px 'Open Sans', sans-serif;
color:#444648;
opacity:10;
}

#workedas {

letter-spacing:0px;
margin-top:14px;
padding-bottom:1px;
color:#BEBEBE;
font-size: 15px;
margin-left:11px;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
font-family: 'PT Sans', sans-serif;
font-size:15px;
font-weight:normal;
text-align: center;
float:left;
font-weight:bold;
}

#beforework {
margin-top:5px;
letter-spacing:0px;
font: normal 15px 'PT Sans', sans-serif;
padding-bottom:2px;
color:#333333;
text-shadow: 0 10px 0 rgba(255, 255, 255, 0.5);
margin-left:8px;
margin-right:7px;
text-align: center;
float:left;
}

#beforework2 {
margin-top:1px;
letter-spacing:0px;
font: normal 15px 'PT Sans', sans-serif;
padding-bottom:2px;
color:#999999;
text-shadow: 0 10px 0 rgba(255, 255, 255, 0.5);
margin-left:10px;
margin-right:7px;
text-align: center;
float:left;
}

#workedname {
margin-top:0px;
letter-spacing:0px;
margin-bottom:8px;
font-family: 'Open Sans', sans-serif;
color:#FFE303;
font-weight: lighter;
font-size:13px;
margin-left:12px;
text-align: center;
float:left;
clear:both;
opacity:10;

}

#skillname {
margin-top:0px;
letter-spacing:0px;
margin-bottom:8px;
font-family: 'Open Sans', sans-serif;
color:#33D629;
font-weight: lighter;
font-size:13px;
margin-left:12px;
text-align: center;
float:left;
opacity:10;
}

#thumbname {
margin-top:0px;
letter-spacing:0px;
margin-bottom:4px;
font-family: 'Open Sans', sans-serif;
color:#40B2DC;
font-weight: lighter;
font-size:13px;
margin-left:14px;
text-align: center;
clear:both;
float:left;
opacity:10;
}




#workedname2 {
letter-spacing:0px;
margin-top:0px;
padding-bottom:4px;
font-family: 'Open Sans', sans-serif;
font-weight: lighter;
color:#9C9C9C;
font-size:13px;
margin-left:12px;
float:left;

}

#skillname2 {
letter-spacing:0px;
margin-top:0px;
font-family: 'Open Sans', sans-serif;
font-weight: lighter;
color:#9C9C9C;
font-size:13px;
clear:both;
margin-left:12px;
float:left;

}


#pastworked {
color:#444648;
margin-top:-5px;
padding-bottom:10px;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
margin-left:12px;
font: normal 15px 'PT Sans', sans-serif;
letter-spacing: 0px;
text-align: center;
float:left;


}

#contactname {

padding-top:10px;
padding-bottom:0px;
color:#607B8B;
font-size: 14px;
margin-left:-10px;
letter-spacing: -1px;
text-align: center;
float:left;
font-weight:normal;

}

#info {

font-size: 15px;
letter-spacing: -1px;
text-align: center;
float:left;
padding-top:5px;
padding-bottom:10px;
color: #848484;

}

/*End of profile tab 1 */




.sig {

font-size: 1.9em;
letter-spacing: -1px;
text-align: center;
font-weight: bold;
float:left;

}

.sidetyy {
float:center;
font-size:18px;
color:#000;
font-weight:normal;
margin-top:0px;
margin-bottom:0px;
padding-top:0px;
padding-bottom:0px;
border-bottom:solid;
border-width:2px;
border-color:#E8E8E8;

}


/* Invite Button List styling */

.listin {

font-size: 13px;
padding-top:4px;
padding-bottom:6px;
font-weight:bold;
}


.bar {
font-weight:normal;
}


.foo a{
font-size: 14px;
color: $grayLight;
}


.dropdown-toggle {
padding-top:6px;
padding-bottom:6px;
padding-left:40px;
padding-right:40px;


}

.rooster {
padding-left:0px;

padding-top:5px;
padding-bottom:5px;
}


 h3.username   {
letter-spacing:0px;
float:left;
margin-left:17px;
margin-top:49px;
padding-top:7px;
font: 31px 'PT Sans', sans-serif;
font-weight:600;
color:#444648;
margin-bottom:5px;



}






h2.sidin {
color: $grayLight;
line-height: 1;
font-size: 1.7em;
letter-spacing: -1px;
text-align: center;
font-weight: normal;
float:left;
margin-bottom:10px;

}


#newsfeed {
background-color:#fff;
}


#invitefeed {

background-color:#fff;

}

/* User Portrait */

.stretch {
    width:675px;
    height:380px;


  line-height: 0;
  
}

.love {

padding-left:-0px;


}

.thumbs {
  margin-left: 0px;
  
  *zoom: 0;
}

.thumbs:before,
.thumbs:after {
  display: table;
  content: "";
}

.thumbs:after {
  clear: both;
}

.row-fluid .thumbs {
  margin-left: 0;
}

.thumbs > li {
  float: left;
  margin-bottom: 18px;
  margin-left: 20px;
}



.thumbnaile {

  *zoom: 0;
  display:block;
  line-height: 1;
  background: #fff;
  padding: 15px;
  margin-left: -20px;
  margin-right: 3px;
  margin-top:2px;
  
  
  
/* Rounded Corners */ 
    -moz-border-radius-topleft: 0px; 
    -moz-border-radius-bottomleft: 0px; 
    -webkit-border-top-left-radius: 0px; 
    -webkit-border-bottom-left-radius: 0px; 
    border-top-left-radius: 0px; 
    border-bottom-left-radius: 0px; 
    -moz-border-radius-topright: 0px; 
    -moz-border-radius-bottomright: 0px; 
    -webkit-border-top-right-radius: 0px; 
    -webkit-border-bottom-right-radius: 0px; 
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 0px; 
-webkit-box-shadow: 0 0 1px 1px rgba(0, 105, 214, 0.25);
	   -moz-box-shadow: 0 0 1px 1px rgba(0, 105, 214, 0.25);
	        box-shadow:  0 0 1px 1px rgba(0, 105, 214, 0.25);

}



a.thumbnaile:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.thumbnaile > img {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
/* Rounded Corners */ 
    -moz-border-radius-topleft: 0px; 
    -moz-border-radius-bottomleft: 0px; 
    -webkit-border-top-left-radius: 0px; 
    -webkit-border-bottom-left-radius: 0px; 
    border-top-left-radius: 0px; 
    border-bottom-left-radius: 0px; 
    -moz-border-radius-topright: 0px; 
    -moz-border-radius-bottomright: 0px; 
    -webkit-border-top-right-radius: 0px; 
    -webkit-border-bottom-right-radius: 0px; 
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 0px; 
}

.thumbnaile .caption {
  padding: 9px;
}




p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */


.logo {
 float:left;
 background:transparent;
 height:20px;
}

#logo:hover {
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  margin-left:300px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: left;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


/* Signup Buttons on home page*/
#signupbutton1 {
margin-left:33px;
}

#signupbutton2 {
margin-left:33px;
}

/* Have an Account Sign In dropdown menu */

.input-small {

width:150px;
}

.form-vertical{
width:180px;
height:200px;
}

#menuout {

padding-top: 20px;
padding-bottom:10px;
padding-left:25px;
padding-right:25px;
}

/* sign up page at home */

legend {

font-size:28px;
margin-left:10px;
}

.help-block2 {

font-size:12px;
}

.bar {
font-weight:normal;
}



/* NewsFeed/ Invitefeed SideBar */



.nav-list {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
}


.nav-list li.sidebar > a {

color: #0198E1;

}

.nav-list li > a:hover,
.nav-list .active > a,
.nav-list .active > a:hover {
  color: #fff;
  font-weight:700;
  text-decoration: none;
  background-color: #50A9CA;
  text-shadow:none;
}

.dropdown-toggle > a.active 
.dropdown-toggle .active > a
.dropdown-toggle .active > a:hover
{
color:#000;

}

li.dropdown {
list-style: none;

}



li.dropdown:active {
background-color:#fff;

}


/* NewsFeed */


.hero-unit {
  padding:25px;
  
  margin-bottom: 30px;
  background-color: #fff;
-webkit-box-shadow: -2px 0px 1px  rgba(0, 0, 0, 0.12);
	   -moz-box-shadow: -2px 0px 3px  rgba(0, 0, 0, 0.12);
	        box-shadow:  -2px 0px 3px rgba(0, 0, 0, 0.12);

  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
}


.hero-unit h1 {
  margin-bottom: 0;
  font-size: 21px;
  line-height: 1;
  letter-spacing: -1px;
  color: #808080;
  font-weight:700;
}


.help-block {

color: $grayLight;
font-weight:bold;
}


/* Profile bar links */


.blue a,
 {
color: #000;
font-size:14px;
font-weight:bold;
}

.lightsp {
color:#000;
font-size:15px;
margin-left:48px;

}

#mystery {

font-size: 15px;
letter-spacing: -1px;
font-weight:bold;

padding-top:3px;
margin-bottom:-2px;
margin-left:48px;
color: $grayLight;
}

.label-info {


padding: 20px 20px 10px 10px;

}




/* Profile  */


#yoyum2 {
border-bottom:solid;
border-left:solid;
border-width:2px;
border-color:#F0F0F0;
width:400px;
height:300px;
}

#grassroots {
margin-top:30px;
border-left:solid;
border-bottom:solid;
border-width:2px;
border-color:#F0F0F0;
width:900px;
height:350px;
}

#skiils {
border-left:solid;
border-bottom:solid;
border-width:2px;
border-color:#F0F0F0;
width:900px;
height:320px;
}

#skiils2 {


width:900px;
height:450px;
}

#skiils3 {

width:900px;
height:400px;

}



#newbie {
margin-top:10px;
border-left:solid;
border-bottom:solid;
border-width:2px;
border-color:#F0F0F0;
height:500px;
}

.proftitle {

margin-right:5px;

}


.bold > a  {
font-weight:bold;

}



.verified {

font-size:24px;
font-weight:bold;

}






/* Navigate Nar */

ul.tabnavcenter    {
 
 width:839px;
 height:43px;
 margin-top:0px;
 margin-left:0px;
 font-family: 'Open Sans', sans-serif;

}

ul.tabnavcenter li {
margin-left:0px;
margin-right:0px;
background-color: none;
float:left;
width:167px;
height:39px;
list-style-type:none;

}

#navbar {
float:left;
margin-left:0px;
margin-top:0px;
margin-bottom:0px;
margin-right:0px;
width:1000px;



}

 #futurebutton  {
  display: block;
  background-color:#eeeeee;
  padding-right:7px;
  padding-top:2px;
  padding-bottom:2px;
  padding-left:4px;
  /* Rounded Corners */ 
    -moz-border-radius-topleft: 1px; 
    -moz-border-radius-bottomleft: 1px; 
    -webkit-border-top-left-radius: 1px; 
    -webkit-border-bottom-left-radius: 1px; 
    border-top-left-radius: 1px; 
    border-bottom-left-radius: 1px; 
    -moz-border-radius-topright: 1px; 
    -moz-border-radius-bottomright: 1px; 
    -webkit-border-top-right-radius: 1px; 
    -webkit-border-bottom-right-radius: 1px; 
    border-top-right-radius: 1px; 
    border-bottom-right-radius: 1px; 

  -webkit-box-shadow: 0px 1px 2px 1px #E5E5E5;
	   -moz-box-shadow: 0px 1px 2px 1px #E5E5E5;
	        box-shadow:  0px 1px 2px 1px #E5E5E5;
}

.open > .active >  #futurebutton:hover  {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}


.input-small {

width:200px;
}


ul.tabnavcenter li a:hover  {
text-decoration:none;
color:red;
}

ul.tabnavcenter li.active:hover {

}

ul.tabnavcenter li.active a:hover {
text-decoration:none;

}

#indexrank {
font-size: 15px;
font-weight: 444;
font-family: 'PT Sans', sans-serif;
color:#000;
float:left;
margin-left:122px;
margin-top:8px;

}



#indexed {
color: #000;
background:#fff;
width:50px;
height:45px;
font-size:19px;
margin-top:-48px;
float:left;
border: 1px solid #E8E8E9;
font-family: 'Open Sans', sans-serif;

}




#homenav {

width:167px;
height:43px;
background:#fff;
display: block;

-webkit-box-shadow:  -1px 0px 1px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow:  -1px 0px 1px rgba(0, 0, 0, 0.2);
	        box-shadow:  -1px 0px 1px rgba(0, 0, 0, 0.2);

}

#homenav:hover {

width:167px;
height:43px;
background:#fff;
display: block;
}


#edsquare {

width:220px;
height:400px;
background:#fff;
float:left;


}



#navone{
margin-left:14px;
margin-top:10px;
font-size:15px;
color:#FF3329;
float:left;

}

.navabout {
margin-top:15px;
margin-left:18px;
font-size:13px;
float:left;
font-family: arial,helvetica,clean,sans-serif;
letter-spacing:0.044em;
}

.navabout:hover {
margin-top:15px;
margin-left:18px;
font-size:13px;
float:left;
font-family: arial,helvetica,clean,sans-serif;
font-weight: bold;
color:#888888;
letter-spacing:0.044em;
}


#ednav {
width:167px;
height:43px;
background:#fff;
display: block;

-webkit-box-shadow:  1px 0px 1px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow:  1px 0px 1px rgba(0, 0, 0, 0.2);
	        box-shadow:  1px 0px 1px rgba(0, 0, 0, 0.2);
}

#ednav:hover {
width:167px;
height:43px;
background:#fff;
display: block;
}



#navtwo {
margin-left:14px;
margin-top:11px;
font-size:16px;
color:#FF7500;
float:left;

}

#edabout {
margin-top:15px;
margin-left:18px;
font-size:13px;
float:left;
font-family: arial,helvetica,clean,sans-serif;
font-weight: bold;
color:#888888;
letter-spacing:0.044em;
}

#edabout:hover {
margin-top:15px;
margin-left:18px;
font-size:13px;
float:left;
font-family: arial,helvetica,clean,sans-serif;
font-weight: bold;
color:#888888;
letter-spacing:0.044em;
}

#exnav {
width:167px;
height:43px;
background:#fff;
display: block;
-webkit-box-shadow:  1px 0px 1px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow:  1px 0px 1px rgba(0, 0, 0, 0.2);
	        box-shadow:  1px 0px 1px rgba(0, 0, 0, 0.2);

}

#exnav:hover {
width:167px;
height:43px;
background:#fff;
display: block;

}

#exabout {
margin-top:15px;
margin-left:18px;
font-size:12px;
float:left;
font-family: arial,helvetica,clean,sans-serif;
font-weight: bold;
color:#888888;
letter-spacing:0.044em;
}

#exabout:hover {
margin-top:15px;
margin-left:18px;
font-size:12px;
float:left;
font-family: arial,helvetica,clean,sans-serif;
font-weight: bold;
color:#888888;
letter-spacing:0.044em;
}

#skabout {
margin-top:15px;
margin-left:18px;
font-size:12px;
float:left;
font-family: arial,helvetica,clean,sans-serif;
font-weight: bold;
color:#888888;
letter-spacing:0.044em;
}


#skabout:hover {
margin-top:15px;
margin-left:18px;
font-size:12px;
float:left;
font-family: arial,helvetica,clean,sans-serif;
font-weight: bold;
color:#888888;
letter-spacing:0.044em;
}



#navthree {
margin-left:14px;
margin-top:10px;
font-size:16px;
color:#FFD900;
text-shadow: none;
float:left

}

#sknav {
width:167px;
height:43px;
background:#fff;
display: block;
-webkit-box-shadow:  1px 0px 1px  rgba(0, 0, 0, 0.2);
	   -moz-box-shadow:  1px 0px 1px rgba(0, 0, 0, 0.2);
	        box-shadow:  1px 0px 1px rgba(0, 0, 0, 0.2);
}

#sknav:hover {
width:167px;
height:43px;
background:#fff;
display: block;
}

#navfour {
margin-left:14px;
margin-top:10px;
font-size:16px;
color:#85E67F;
text-shadow: none;
float:left;
}

#edcheck {
padding-left:88px;
margin-top:19px;
font-size:16px;
color:#85E67F;
text-shadow: none;
float:left;
}

#edchecktwo {
padding-left:57px;
margin-top:19px;
font-size:16px;
color:#85E67F;
text-shadow: none;
float:left;
}


#edcheckthree {
padding-left:33px;
margin-top:19px;
font-size:16px;
color:#85E67F;
text-shadow: none;
float:left;
}

#edcheckfour {
padding-left:96px;
margin-top:19px;
font-size:16px;
color:#85E67F;
text-shadow: none;
float:left;
}

#edcheckfive {
padding-left:14px;
margin-top:19px;
font-size:16px;
color:#85E67F;
text-shadow: none;
float:left;
}

#edchecksix {
padding-left:7px;
margin-top:19px;
font-size:16px;
color:#85E67F;
text-shadow: none;
float:left;
}



#vinav {
width:167px;
height:43px;
background:#fff;
display: block;

-webkit-box-shadow:  1px 0px 1px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow:  1px 0px 1px rgba(0, 0, 0, 0.2);
	        box-shadow:  1px 0px 1px rgba(0, 0, 0, 0.2);
}

#vinav:hover {
width:167px;
height:43px;
background:#fff;

display: block;


}

#navfive {
margin-left:14px;
margin-top:10px;
font-size:16px;
color:#66C1E3;
text-shadow: none;
float:left;
}

#vabout {
margin-top:15px;
margin-left:18px;
font-size:12px;
float:left;
font-family: arial,helvetica,clean,sans-serif;
font-weight: bold;
color:#888888;
letter-spacing:0.044em;
}

#vabout:hover {
margin-top:15px;
margin-left:18px;
font-size:12px;
float:left;
font-family: arial,helvetica,clean,sans-serif;
font-weight: bold;
color:#888888;
letter-spacing:0.044em;
}



/*Nav pills color */







 .nav-pills > .active > a, .nav-pills > .active li, .nav-pills > .active > li:hover, .nav-pills > .active > a:hover {


 
}

.nav-pills > a,  .nav-pills > a:hover {





}




li.clear {

list-style-type: none;
padding:10px;
}
/*Top Nav Button placement */

.watchbutton {
margin-top:63px;
margin-left:607px;
float:left;
}

#button2 {
margin-left:8px;
margin-top:64px;
float:left;
}

#button3 {
margin-top:67px;
margin-left:14px;
float:left;
}

#invitebutton {

float:left;
margin-left:27px;
margin-top:68px;
}

#broadcastbutton {
float:left;
margin-left:17px;
margin-top:55px;

}

/*Button colors */


.btn-info  {
  padding:7px 12px 7px 12px;
  font-size:14px;
  color:#fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color:#000;
  font-weight:700;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #686a6c, #343536);
  background-image: -ms-linear-gradient(top, #686a6c, #343536);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#686a6c), to(#343536));
  background-image: -webkit-linear-gradient(top, #686a6c, #343536);
  background-image: -o-linear-gradient(top, #686a6c, #343536);
  background-image: linear-gradient(top, #686a6c, #343536);
  background-repeat: repeat-x;
 filter: progid:dximagetransform.microsoft.gradient(startColorstr='#686a6c', endColorstr='#343536', GradientType=0);
   
 

}



.btn-info:hover,
.btn-info:active,
.btn-info.active, 


{
color:#fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color:#000;
  font-weight:700;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
 filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
 
 
}


.btn-primary:hover,
.btn-primary:active,
.btn-primay.active, {

   background-color: #67C8FF;
  *background-color:#82CFFD;
  border-color: #2f96b4 #2f96b4 #42C0FB;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-image: -ms-linear-gradient(top, #67C8FF, #82CFFD);
  background-image: -webkit-gradient(linear, 0 0, 0 75%, from(#67C8FF), to(#82CFFD));
  background-image: -webkit-linear-gradient(top, #67C8FF, #82CFFD );
  background-image: -o-linear-gradient(top, #67C8FF, #82CFFD);
  background-image: -moz-linear-gradient(top, #67C8FF, #82CFFD);
  background-image: linear-gradient(top, #67C8FF, #82CFFD );
  background-repeat: repeat-x;
  border-color: #E2C6FF;
  
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#67C8FF', endColorstr='#82CFFD', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  }


/* button large */

.btn-large {


  color:#fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color:#000;
  font-weight:700;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #686a6c, #343536);
  background-image: -ms-linear-gradient(top, #686a6c, #343536);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#686a6c), to(#343536));
  background-image: -webkit-linear-gradient(top, #686a6c, #343536);
  background-image: -o-linear-gradient(top, #686a6c, #343536);
  background-image: linear-gradient(top, #686a6c, #343536);
  background-repeat: repeat-x;
 filter: progid:dximagetransform.microsoft.gradient(startColorstr='#686a6c', endColorstr='#343536', GradientType=0);
   
/* Rounded Corners */ 
    -moz-border-radius-topleft: 1px; 
    -moz-border-radius-bottomleft: 1px; 
    -webkit-border-top-left-radius: 1px; 
    -webkit-border-bottom-left-radius: 1px; 
    border-top-left-radius: 1px; 
    border-bottom-left-radius: 1px; 
    -moz-border-radius-topright: 1px; 
    -moz-border-radius-bottomright: 1px; 
    -webkit-border-top-right-radius: 1px; 
    -webkit-border-bottom-right-radius: 1px; 
    border-top-right-radius: 1px; 
    border-bottom-right-radius: 1px; 
 
}

.btn-large:hover,
.btn-large.active, 
.btn-large:active   {
  

color:#fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color:#000;
  font-weight:700;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
 filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
   

}


#tiger {

width:1200px;
}


.dropdown-menu {
width:600px;
overflow:stretch;
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #fff;
  font-weight:normal;
  text-decoration: none;
  background-color: #007bb1;
}



p {

 margin: 10px 0 9px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}
