@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lato:300);

@import url(http://fonts.googleapis.com/css?family=Advent+Pro:400,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Quicksand);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200);
@import url(http://fonts.googleapis.com/css?family=Cantata+One);
@import url(http://fonts.googleapis.com/css?family=Muli);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:600);


.container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 1000px;
}

.navbar .nav > li > a {
  float: none;
  padding: 13px 10px 12px;
  line-height: 19px;
  color: #5d5d5d;
  text-shadow: none;
  font-weight:700;
  text-decoration: none;
 
}

.navbar .nav > li.hova:hover > a {
  color: #FFF;
  padding: 13px 10px 12px;
}


.navbar .nav > li.hova:hover {
  background: #60AFFE; /* Old browsers */
    
  height:47px;
}


.navbar .nav > li > a:active {
  float: none;
  padding: 9px 10px 11px;
  line-height: 19px;
  color: #000;
  font-weight:685;
  text-decoration: none;

 
}

.navbar .nav > li > a:hover {
  float: none;
  padding: 9px 10px 11px;
  line-height: 19px;
  color: #000;
 font-weight:685;
  text-decoration: none;
  
}


.navbar-inner {
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  min-height: 47px;
  background: #fff;
   
 
 -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	        box-shadow:  0 1px 4px rgba(0, 0, 0, 0.2);

}


.navbar .container {
  width: 1000px;
  
 
  
 }

.nav > .pull-right {
  float: right;
  
 }



.navbar .nav li.dropdown .dropdown-toggle .caret,
.navbar .nav li.dropdown.open .caret {
  border-top-color: #000;
  border-bottom-color: #000;
}

.tab-pane {

overflow:hidden;
height:415px;
width:1000px;

}


.tab-content > #home {

margin-top:12px;
margin-bottom:9px;
margin-left:-2px;
height:417px;
width:1077px;
}

#home_else {

width:1000px;
height:1000px;
background: none repeat scroll 0 0 #F0F0F0;

}


.tab-content > #tab2 {
width:1000px;
height:413px;
margin-top:12px;
background:#f1f5fd;
margin-bottom:13px;
margin-left:1px;
background:#fff;

 
 -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	        box-shadow:  0 1px 4px rgba(0, 0, 0, 0.2);

}

#tab2_else {

width:1000px;
height:100px;
background:#f1f5fd;
}


#undergradshow {

margin-top:0px;
margin-left:19px;
width:1000px;
height:250px;
background:#fff;

}

#back1 {
margin-top:7px;
margin-left:31px;
margin-bottom:-3px;
width:983px;
height:63px;
background: #fff;


}





#tab7_else {

width:1000px;
height:100px;
background:#f1f5fd;
}


#tab3_else {

width:1000px;
height:100px;
background:#f1f5fd;
}

#tab4_else {

width:1000px;
height:100px;
background:#f1f5fd;
}

#tab9_else {

width:1000px;
height:100px;
background:#f1f5fd;
}

#tab5_else {

width:1000px;
height:100px;
background:#f1f5fd;
}

.testerli {


 list-style-type: none;
padding:100px;

}


#undergradwhy{
width:1000px;
margin-left:20px;
height:163px;
 background: -moz-radial-gradient(center, ellipse cover, #a8a8a8 0%, #7F00FF 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a8a8a8), color-stop(100%,#2300b2)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #00BFFF  10%, #0BB5FF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* IE10+ */
    background: radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#2300b2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 
margin-top:250px;
 /* Rounded Corners */ 
    -moz-border-radius-topleft: 0px; 
    -moz-border-radius-bottomleft: 0px; 
    -webkit-border-top-left-radius: 0px; 
    -webkit-border-bottom-left-radius: 0px; 
    border-top-left-radius: 0px; 
    border-bottom-left-radius: 0px; 
    -moz-border-radius-topright: 0px; 
    -moz-border-radius-bottomright: 0px; 
    -webkit-border-top-right-radius: 0px; 
    -webkit-border-bottom-right-radius: 0px; 
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 0px; 



}



p.userwhy {
color:#000;
width:1000px;
height:500px;
font-weight:normal;
letter-spacing:0px;
text-align: left;
float:left;
font-weight:normal;
line-height:150%;
margin-left:5px;
padding-right:2px;
padding-top:4px;
font-size:16px;
font-family: 'Open Sans', sans-serif;

}



#othershow {

margin-top:0px;
margin-left:19px;
width:1000px;
height:250px;
background:#fff;


}

#otherwhy {

width:1000px;
margin-left:20px;
height:163px;
  background: -moz-radial-gradient(center, ellipse cover, #a8a8a8 0%, #7F00FF 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a8a8a8), color-stop(100%,#2300b2)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #00BFFF  10%, #0BB5FF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* IE10+ */
    background: radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#2300b2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
margin-top:250px;


}

.tab-content > #tab3 {
width:1000px;
height:413px;
margin-top:12px;
background:#fff;
margin-bottom:13px;
margin-left:1px;
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	        box-shadow:  0 1px 4px rgba(0, 0, 0, 0.2);
}






#recentshow {
margin-top:0px;
width:960px;
height:250px;
background: #fff;

}



#recentwhy {
width:960px;
margin-left:20px;
height:163px;
  background: -moz-radial-gradient(center, ellipse cover, #a8a8a8 0%, #7F00FF 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a8a8a8), color-stop(100%,#2300b2)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #00BFFF  10%, #0BB5FF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* IE10+ */
    background: radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#2300b2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
margin-top:250px;


}


#pastshow {

margin-top:0px;
width:960px;
height:250px;
background: #fff;


}

#pastwhy {

width:960px;
margin-left:0px;
height:163px;
  background: -moz-radial-gradient(center, ellipse cover, #a8a8a8 0%, #7F00FF 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a8a8a8), color-stop(100%,#2300b2)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #00BFFF  10%, #0BB5FF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* IE10+ */
    background: radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#2300b2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
margin-top:250px;


}


.tab-content > #tab4 {
width:1000px;
height:413px;
margin-top:12px;
background:#fff;
margin-bottom:13px;
margin-left:1px;
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	        box-shadow:  0 1px 4px rgba(0, 0, 0, 0.2);
}


#skillshow {


margin-top:65px;
width:960px;
height:250px;
background: #fff;

}


#skillwhy {


width:960px;
margin-left:0px;
height:163px;
  background: -moz-radial-gradient(center, ellipse cover, #a8a8a8 0%, #7F00FF 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a8a8a8), color-stop(100%,#2300b2)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #00BFFF  10%, #0BB5FF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* IE10+ */
    background: radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#2300b2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
margin-top:0px;

}




.tab-content > #tab5 {
width:1000px;
height:413px;
margin-top:12px;
margin-bottom:13px;
background:#fff;
margin-left:1px;
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	        box-shadow:  0 1px 4px rgba(0, 0, 0, 0.2);
}

#videoshow {


margin-top:0px;
width:960px;
height:395px;
background:#fff;


}






a {
color: #6600FF;
}

a:hover {
color:#000;

}

a.ranked {

color:#6600FF;
}

a.ranked:hover {
color:#6600FF;

}


.caret {

border-top-color: #000;
  border-bottom-color: #000;
  opacity: 0.75;
  filter: alpha(opacity=75);

}

.btn-primary .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret,
.btn-inverse .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
  opacity: 0.75;
  filter: alpha(opacity=75);
}


p.help-block {
margin-top: 9px;
margin-bottom: 0;
color: #808080;
}


#menuout  li:hover {

background:#fff;
}


a.active {

color:#000;
}


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

/* Ghost white backgroud */

body {
  padding-top:55px;

  background: none repeat scroll 0 0 #F0F0F0;
  

  }

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 5px;
    
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  letter-spacing: -1px;
  margin-bottom: 15px;
  text-align: left;
  }

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  
  text-align: center;
  font-weight: normal;
  
  float:left;
  }



h4{

padding:2px 2px;

}

.logo{ margin: 11px 8px 5px 17px; }

.dropdown{ margin: 0 5px 0 0; }



#mystery {

font-size: 14px;
letter-spacing: -1px;
font-weight:bold;
left:10px;
padding-top:3px;
padding-bottom:10px;
color: $grayLight;


}

#aboutuser {

border-style:solid;
border-width:1px;
border-color:#EDEDED;
width:955px;
height:150px;
background:#fff;
-webkit-box-shadow: 0px 0px 4px  rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0px 0px 4px  rgba(0, 0, 0, 0.2);
	        box-shadow:  0px 0px 4px rgba(0, 0, 0, 0.2);
}




h1.aboutuser {
padding-left:8px;
padding-top:8px;
font-size: 19px;

color:#000;

}


.aboutuserp {
line-height:200%;
padding-left:8px;
padding-top:4px;

}

h3 {

font-size:22px;
color: $grayLight;
font-weight: bold;
margin-top:0px;
margin-bottom:0px;
padding-top:0px;
padding-bottom:0px;
}

.des {

font-size:22px;
color: #000;
font-weight: normal;
margin-top:0px;
margin-bottom:5px;
padding-top:0px;
padding-bottom:6px;
}

.undergraduate {

float:center;
font-size:22px;
color: $grayLight;
font-weight: bold;
margin-top:0px;
margin-bottom:25px;
padding-top:0px;
padding-bottom:0px;


}


/* Profile Tab1 --User Content-- */



#dotvid {
margin-top:15px;
margin-left:15px;

}




/* Nav Pills */

#toptabs{
margin-top:10px;
margin-left:375px;


}

/* Profile Tab1 --User Content- Right Section-- */



#topnav {
margin-left:1px;
margin-top:0px;
margin-bottom:10px;
height:69px;
width:1000px;
background: none repeat scroll 0 0 #F0F0F0;

}

#userphoto {

margin-left:-2px;
float:left;

}



.learn  {

padding-left:0px;

}

#rightabout {
float:left;
margin-left:1px;
margin-top:2px;
background: #fff;
height:411px;
width:288px;

-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	        box-shadow:  0 1px 4px rgba(0, 0, 0, 0.2);


}


#foundin {

letter-spacing:-1px;
margin-top:48px;
padding-bottom:1px;
color:#999999;
font-size: 22px;
margin-left:3px;
font-family: 'Open Sans', sans-serif;
text-align: center;
float:left;
font-weight:normal;

}

#specialtyname {
letter-spacing:0px;
margin-top:49px;
padding-bottom:1px;
color:#007bb1;
font-size: 18px;
margin-left:9px;
font-family: 'Open Sans', sans-serif;
text-align: center;
float:left;
font-weight:normal;

}



#specialty {
font-family: 'Open Sans', sans-serif;
font-weight:normal;
padding-top:4px;
margin-bottom:19px;
margin-left:15px;
font-size: 19px;
letter-spacing: -1px;
text-align: center;
float:left;
color: #999999  ;

}









.icon-star, .icon-home, .icon-pencil, .icon-lock {


} 



#locationname {
letter-spacing:0px;
color: #818486;
font-size: 19px;
margin-left:15px;
font-family: 'Open Sans', sans-serif;
text-align: center;
float:left;
margin-top:22px;
padding-bottom:3px;
font-weight:normal;


}

#location {
font-family: 'Open Sans', sans-serif;
font-weight:normal;
padding-top:4px;
margin-bottom:41px;
margin-left:15px;
font-size: 17px;
letter-spacing: -1px;
text-align: center;
float:left;
color: #999999 ;

}



#tagline {
font-family: 'PT Sans Narrow', sans-serif;
text-transform:uppercase;
font-weight:bold;
padding-top:4px;
margin-bottom:40px;
margin-left:3px;
font-size: 24px;
letter-spacing: 0px;
text-align: center;
float:left;
color: #000 ;
}

#contentname {
font-family: 'Open Sans', sans-serif;
padding-top:10px;
padding-bottom:	0px;
font-size: 16px;
margin-left:-10px;
letter-spacing: -1px;
text-align: center;
float:left;
font-weight:normal;
color: #848484;

}

.go {
margin-left:30px;

}

#photosfront {

padding-top:5px;
padding-bottom:0px;

}



#photo1 {
padding-bottom:0px;
margin-left:12px;
}

#photo2 {
padding-bottom:0px;
margin-left:3px;
}

#photo3 {
padding-bottom:0px;
margin-left:3px;
}

#studiedsubject {
letter-spacing:0px;
margin-top:20px;
padding-bottom:6px;
color: #818486;
font-size: 19px;
margin-left:15px;
text-align: center;
float:left;
font-weight:normal;
font-family: 'Open Sans', sans-serif;
 }


#studiedsubject2 {
letter-spacing:0px;
margin-top:0px;
padding-bottom:3px;
color: #818486;
font-size: 19px;
margin-left:15px;
text-align: center;
float:left;
font-weight:normal;
font-family: 'Open Sans', sans-serif;
 

}




#studiedplace {
font-family: 'Open Sans', sans-serif;
padding-top:4px;
margin-left:15px;
padding-bottom:41px;
font-size: 17px;
letter-spacing: -1px;
text-align: center;
font-weight:normal;
float:left;
color: #999999;

}

#workedname {
letter-spacing:0px;
padding-top:20px;
padding-bottom:3px;
color: #818486;
font-size: 19px;
margin-left:15px;
text-align: center;
float:left;
font-weight:normal;
font-family: 'Open Sans', sans-serif;
 

}

#workedname2 {
letter-spacing:-1px;
padding-top:5px;
padding-bottom:3px;
color:#003366;
font-size: 17px;
margin-left:-1px;
text-align: center;
float:left;
font-weight:normal;
font-family: 'Open Sans', sans-serif;
 

}

#pastworked {
font-family: 'Open Sans', sans-serif;
font-weight:normal;
padding-top:4px;
padding-bottom:10px;
margin-left:15px;
font-size: 17px;
letter-spacing: -1px;
text-align: center;
float:left;
color:  #999999;

}

#contactname {

padding-top:10px;
padding-bottom:0px;
color:#607B8B;
font-size: 14px;
margin-left:-10px;
letter-spacing: -1px;
text-align: center;
float:left;
font-weight:normal;

}

#info {

font-size: 15px;
letter-spacing: -1px;
text-align: center;
float:left;
padding-top:5px;
padding-bottom:10px;
color: #848484;

}

/*End of profile tab 1 */




.sig {

font-size: 1.9em;
letter-spacing: -1px;
text-align: center;
font-weight: bold;
float:left;

}

.sidetyy {
float:center;
font-size:18px;
color:#000;
font-weight:normal;
margin-top:0px;
margin-bottom:0px;
padding-top:0px;
padding-bottom:0px;
border-bottom:solid;
border-width:2px;
border-color:#E8E8E8;

}


/* Invite Button List styling */

.listin {

font-size: 13px;
padding-top:4px;
padding-bottom:6px;
font-weight:bold;
}


.bar {
font-weight:normal;
}


.foo a{
font-size: 14px;
color: $grayLight;
}


.dropdown-toggle {
padding-top:6px;
padding-bottom:6px;
padding-left:40px;
padding-right:40px;


}

.rooster {
padding-left:0px;

padding-top:5px;
padding-bottom:5px;
}


 #username   {
letter-spacing:-1px;
float:left;
margin-left:6px;
margin-top:38px;
color: #404040;
padding-top:7px;
font-size: 27px;
margin-bottom:5px;
font-weight:bolder;
font-family: 'Open Sans', sans-serif;

}






h2.sidin {
color: $grayLight;
line-height: 1;
font-size: 1.7em;
letter-spacing: -1px;
text-align: center;
font-weight: normal;
float:left;
margin-bottom:10px;

}


#newsfeed {
background-color:#fff;
}


#invitefeed {

background-color:#fff;

}

/* User Portrait */

.stretch {
    width:675px;
    height:380px;


  line-height: 0;
  border: 1px solid #ddd;
}

.love {

padding-left:-0px;


}

.thumbs {
  margin-left: 0px;
  
  *zoom: 0;
}

.thumbs:before,
.thumbs:after {
  display: table;
  content: "";
}

.thumbs:after {
  clear: both;
}

.row-fluid .thumbs {
  margin-left: 0;
}

.thumbs > li {
  float: left;
  margin-bottom: 18px;
  margin-left: 20px;
}



.thumbnaile {

  *zoom: 0;
  display:block;
  line-height: 1;
  background:#fff;
  padding: 15px;
  margin-left: -20px;
  margin-right: 3px;
  margin-top:2px;
  
  
  
-webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	        box-shadow:  0 1px 4px rgba(0, 0, 0, 0.2);





}



a.thumbnaile:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.thumbnaile > img {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
/* Rounded Corners */ 
    -moz-border-radius-topleft: 7px; 
    -moz-border-radius-bottomleft: 7px; 
    -webkit-border-top-left-radius: 7px; 
    -webkit-border-bottom-left-radius: 7px; 
    border-top-left-radius: 7px; 
    border-bottom-left-radius: 7px; 
    -moz-border-radius-topright: 7px; 
    -moz-border-radius-bottomright: 7px; 
    -webkit-border-top-right-radius: 7px; 
    -webkit-border-bottom-right-radius: 7px; 
    border-top-right-radius: 7px; 
    border-bottom-right-radius: 7px; 
}

.thumbnaile .caption {
  padding: 9px;
}




p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */


.logo {
 float:left;
 background:transparent;
 height:23px;
}

#logo:hover {
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  margin-left:300px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: left;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


/* Signup Buttons on home page*/
#signupbutton1 {
margin-left:33px;
}

#signupbutton2 {
margin-left:33px;
}

/* Have an Account Sign In dropdown menu */

.input-small {

width:150px;
}

.form-vertical{
width:180px;
height:200px;
}

#menuout {

padding-top: 20px;
padding-bottom:10px;
padding-left:25px;
padding-right:25px;
}

/* sign up page at home */

legend {

font-size:28px;
margin-left:10px;
}

.help-block2 {

font-size:12px;
}

.bar {
font-weight:normal;
}



/* NewsFeed/ Invitefeed SideBar */



.nav-list {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
}


.nav-list li.sidebar > a {

color: #0198E1;

}

.nav-list li > a:hover,
.nav-list .active > a,
.nav-list .active > a:hover {
  color: #fff;
  font-weight:700;
  text-decoration: none;
  background-color: #50A9CA;
  text-shadow:none;
}

.dropdown-toggle > a.active 
.dropdown-toggle .active > a
.dropdown-toggle .active > a:hover
{
color:#000;

}



/* NewsFeed */


.hero-unit {
  padding:25px;
  
  margin-bottom: 30px;
  background-color: #fff;
-webkit-box-shadow: -2px 0px 1px  rgba(0, 0, 0, 0.12);
	   -moz-box-shadow: -2px 0px 3px  rgba(0, 0, 0, 0.12);
	        box-shadow:  -2px 0px 3px rgba(0, 0, 0, 0.12);

  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
}


.hero-unit h1 {
  margin-bottom: 0;
  font-size: 21px;
  line-height: 1;
  letter-spacing: -1px;
  color: #808080;
  font-weight:700;
}


.help-block {

color: $grayLight;
font-weight:bold;
}


/* Profile bar links */


.blue a,
 {
color: #000;
font-size:14px;
font-weight:bold;
}

.lightsp {

color:#000;
font-size:16px;

}



.label-info {


padding: 20px 20px 10px 10px;

}




/* Profile  */


#yoyum2 {
border-bottom:solid;
border-left:solid;
border-width:2px;
border-color:#F0F0F0;
width:400px;
height:300px;
}

#grassroots {
margin-top:30px;
border-left:solid;
border-bottom:solid;
border-width:2px;
border-color:#F0F0F0;
width:900px;
height:350px;
}

#skiils {
border-left:solid;
border-bottom:solid;
border-width:2px;
border-color:#F0F0F0;
width:900px;
height:320px;
}

#skiils2 {


width:900px;
height:450px;
}

#skiils3 {

width:900px;
height:400px;

}



#newbie {
margin-top:10px;
border-left:solid;
border-bottom:solid;
border-width:2px;
border-color:#F0F0F0;
height:500px;
}

.proftitle {

margin-right:5px;

}


.bold > a  {
font-weight:bold;

}



.verified {

font-size:24px;
font-weight:bold;

}






/* Profile navbar */

ul.tabnavcenter    {
 
 background: #fff;
 width:1000px;
 margin-top:2px;
 margin-bottom:2px;
 overflow:hidden;
 font-family: 'Open Sans', sans-serif;
 
 
 -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	   -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	        box-shadow:  0 1px 4px rgba(0, 0, 0, 0.3);

}

#navbar {

padding-bottom:5px;
margin-left:-6px;


}


ul.tabnavcenter li {


background-color: #fff;
float:left;
border-right: 1px solid #E8E8E9;
line-height: 0.8; 
border: medium none;
list-style-type:none;

}


ul.tabnavcenter li.active {

background: #fafafa; /* Old browsers */
background: -moz-linear-gradient(top,  #fafafa 0%, #eeeeee 50%, #e8e8e8 51%, #fafafa 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(50%,#eeeeee), color-stop(51%,#e8e8e8), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fafafa 0%,#eeeeee 50%,#e8e8e8 51%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fafafa 0%,#eeeeee 50%,#e8e8e8 51%,#fafafa 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fafafa 0%,#eeeeee 50%,#e8e8e8 51%,#fafafa 100%); /* IE10+ */
background: linear-gradient(top,  #fafafa 0%,#eeeeee 50%,#e8e8e8 51%,#fafafa 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */




}

ul.tabnavcenter li.active:hover {

background: #fafafa; /* Old browsers */
background: -moz-linear-gradient(top,  #fafafa 0%, #eeeeee 50%, #e8e8e8 51%, #fafafa 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(50%,#eeeeee), color-stop(51%,#e8e8e8), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fafafa 0%,#eeeeee 50%,#e8e8e8 51%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fafafa 0%,#eeeeee 50%,#e8e8e8 51%,#fafafa 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fafafa 0%,#eeeeee 50%,#e8e8e8 51%,#fafafa 100%); /* IE10+ */
background: linear-gradient(top,  #fafafa 0%,#eeeeee 50%,#e8e8e8 51%,#fafafa 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */

}

ul.tabnavcenter li.active a {

color: #000;
cursor:pointer;
text-decoration: none
}

ul.tabnavcenter li:hover {
 
background: #fff;


}

ul.tabnavcenter li a{
font-size:16px;
color: #474747;
display: block;
line-height: 47px;
padding-left:65px;
padding-right:65px;
font-weight:500;


}

ul.tabnavcenter li:hover a {
 color: #000;
 cursor:pointer;
 text-decoration: none

}

ul.tabnavcenter
{ 
    /* Rounded Corners */ 
    -moz-border-radius-topleft: 0px; 
    -moz-border-radius-bottomleft: 0px; 
    -webkit-border-top-left-radius: 0px; 
    -webkit-border-bottom-left-radius: 0px; 
    border-top-left-radius: 0px; 
    border-bottom-left-radius: 0px; 
    -moz-border-radius-topright: 0px; 
    -moz-border-radius-bottomright: 0px; 
    -webkit-border-top-right-radius: 0px; 
    -webkit-border-bottom-right-radius: 0px; 
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 0px; 
}




/*Nav pills color */


.nav-pills {




}




 .nav-pills > .active > a, .nav-pills > .active li, .nav-pills > .active > li:hover, .nav-pills > .active > a:hover {

color: #0198E1;
background: -moz-linear-gradient(top,  #fafafa 0%, #eeeeee 50%, #e8e8e8 51%, #fafafa 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(50%,#eeeeee), color-stop(51%,#e8e8e8), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fafafa 0%,#eeeeee 50%,#e8e8e8 51%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fafafa 0%,#eeeeee 50%,#e8e8e8 51%,#fafafa 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fafafa 0%,#eeeeee 50%,#e8e8e8 51%,#fafafa 100%); /* IE10+ */
background: linear-gradient(top,  #fafafa 0%,#eeeeee 50%,#e8e8e8 51%,#fafafa 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */

 
}

.nav-pills > a,  .nav-pills > a:hover {


color:#AA56FF;
background: #fafafa; /* Old browsers */
background: -moz-linear-gradient(top,  #fafafa 0%, #eeeeee 50%, #e8e8e8 51%, #fafafa 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(50%,#eeeeee), color-stop(51%,#e8e8e8), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fafafa 0%,#eeeeee 50%,#e8e8e8 51%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fafafa 0%,#eeeeee 50%,#e8e8e8 51%,#fafafa 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fafafa 0%,#eeeeee 50%,#e8e8e8 51%,#fafafa 100%); /* IE10+ */
background: linear-gradient(top,  #fafafa 0%,#eeeeee 50%,#e8e8e8 51%,#fafafa 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */


}

#insta {
width:288px;
height:68px;
background:#fff;

 


}


li.clear {

list-style-type: none;
padding:10px;
}
/*Top Nav Button placement */

.watchbutton {
margin-top:35px;
margin-left:507px;
position:absolute;
float:left;
}

#invitebutton {

float:left;
margin-left:15px;
margin-top:18px;
}

#broadcastbutton {
float:left;
margin-left:17px;
margin-top:18px;

}

/*Button colors */


.btn-info, .btn-info:hover {
  color:#fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-weight:700;
  background: #60AFFE; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #a8a8a8 0%, #7F00FF 100%); /* FF3.6+ */

    
     background: #007FFF ;/* Old browsers *//* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* IE10+ */
    background: radial-gradient(center, ellipse cover, #a8a8a8 0%,#2300b2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#2300b2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 

}




.btn-info:active,
.btn-info.active, 


{
background: -webkit-gradient(radial, center center, 0px, center center, 10%, color-stop(0%,#a8a8a8), color-stop(100%,#2300b2)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, #60AFFE 10%, #007FFF 100%);
 
 
}


.btn-primary:hover,
.btn-primary:active,
.btn-primay.active, {

   background-color: #67C8FF;
  *background-color:#82CFFD;
  border-color: #2f96b4 #2f96b4 #42C0FB;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-image: -ms-linear-gradient(top, #67C8FF, #82CFFD);
  background-image: -webkit-gradient(linear, 0 0, 0 75%, from(#67C8FF), to(#82CFFD));
  background-image: -webkit-linear-gradient(top, #67C8FF, #82CFFD );
  background-image: -o-linear-gradient(top, #67C8FF, #82CFFD);
  background-image: -moz-linear-gradient(top, #67C8FF, #82CFFD);
  background-image: linear-gradient(top, #67C8FF, #82CFFD );
  background-repeat: repeat-x;
  border-color: #E2C6FF;
  
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#67C8FF', endColorstr='#82CFFD', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  }


/* button large */

.btn-large {

  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-weight:700;
  color:#fff;
background: #7300e6;/* Old browsers */
   


  
}

.btn-large:hover,
.btn-large.active, 
.btn-large:active   {
  

text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-weight:700;
  color:#fff;
background: #7300e6;/* Old browsers */
   

}


#tiger {

width:1200px;
}


.dropdown-menu {
width:600px;
overflow:stretch;
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #fff;
  font-weight:normal;
  text-decoration: none;
  background-color: #336699;
}



p {

 margin: 10px 0 9px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}
